<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Transportasi</title>
</head>
<body>

<h1>Tambah Transportasi</h1>

<form th:action="@{/transportation/save}" method="post" th:object="${transportation}" enctype="multipart/form-data">
    <label for="type">Type:</label>
    <input type="text" th:field="*{type}" required><br>

    <label for="provider">Provider:</label>
    <input type="text" th:field="*{provider}" required><br>

    <label for="price">Price:</label>
    <input type="number" th:field="*{price}" required><br>

    <label for="image">Image:</label>
    <input type="file" name="image" accept="image/*"><br>

    <button type="submit">Save</button>
</form>

</body>
</html>
