<form th:action="@{/transportation/update/{id}(id=${transportation.id})}" method="post" th:object="${transportation}" enctype="multipart/form-data">
    <label for="type">Type:</label>
    <input type="text" th:field="*{type}" required><br>

    <label for="provider">Provider:</label>
    <input type="text" th:field="*{provider}" required><br>

    <label for="price">Price:</label>
    <input type="number" th:field="*{price}" required><br>

    <label for="image">Image:</label>
    <input type="file" name="image" accept="image/*"><br>

    <button type="submit">Update</button>
</form>
