<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Daftar Paket Wisata</title>
  </head>
  <body>
    <h1>Daftar Paket Wisata</h1>

    <a href="/packagesTravel/add">Tambah Paket Baru</a>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama Paket</th>
          <th>Destination</th>
          <th>Transportasi</th>
          <th>Accomodation</th>
          <th>Wahana</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pkg : ${packagesTravel}">
          <td th:text="${pkg.id}"></td>
          <td th:text="${pkg.name}"></td>
          <td th:text="${pkg.destination}"></td>
          <td th:text="${pkg.transportation?.type ?: 'null'}"></td>
          <td th:text="${pkg.accomodation?.type ?: 'null'}"></td>
          <td th:text="${pkg.wahana?.name ?: 'null'}"></td>
          <td>
            <!-- Display the image if imageUrl is present -->
            <img th:src="${pkg.imageUrl}" alt="PT Image" width="100" />
          </td>
          <td>
            <a th:href="@{/packagesTravel/edit/{id}(id=${pkg.id})}">Edit</a>
            <form
              th:action="@{/packagesTravel/delete/{id}(id=${pkg.id})}"
              method="post"
              onsubmit="return confirm('Delete this Package?');"
            >
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
