<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daftar Paket Wisata</title>
</head>
<body>

<h1>Daftar Paket Wisata</h1>

<a href="/packages/new">Tambah Paket Baru</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nama Paket</th>
            <th>Deskripsi</th>
            <th>Transportasi</th>
            <th>Accomodation</th>
            <th>Wahana</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="pkg : ${packagesTravel}">
            <td th:text="${pkg.id}"></td>
            <td th:text="${pkg.name}"></td>
            <td th:text="${pkg.destination}"></td>
            <td th:text="${pkg.transportation.type}"></td>
            <td th:text="${pkg.accomodation.type}"></td>
            <td th:text="${pkg.wahana.name}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
