<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tambah Paket Wisata</title>
</head>
<body>

<h1>Tambah Paket Wisata</h1>

    <form th:action="@{/accomodation/update/{id}(id=${accomodation.id})}" method="post" th:object="${accomodation}">
        <label for="name">name:</label>
        <input type="text" th:field="*{name}" required><br>

        <label for="type">type:</label>
        <input type="text" th:field="*{type}" required><br>

        <label for="price">price:</label>
        <input type="text" th:field="*{price}" required><br>

        <label for="facility">facility:</label>
        <input type="text" th:field="*{facility}" required><br>

        <label for="address">address:</label>
        <input type="text" th:field="*{address}" required><br>

        <button type="submit">Save</button>
    </form>

</body>
</html>
