<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Daftar Paket Wisata</title>
</head>
<body>

<h1>Daftar Accomodation</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name Accomodation</th>
            <th>Type</th>
            <th>Price</th>
            <th>Facility</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="acm : ${accomodations}">
            <td th:text="${acm.id}"></td>
            <td th:text="${acm.name}"></td>
            <td th:text="${acm.type}"></td>
            <td th:text="${acm.price}"></td>
            <td th:text="${acm.facility}"></td>
            <td th:text="${acm.address}"></td>
            <td><a th:href="@{/accomodation/edit/{id}(id=${acm.id})}">Edit</a>
                <form th:action="@{/accomodation/delete/{id}(id=${acm.id})}"
                method="post" onsubmit="return confirm('Delete this Accomdation?');">
                    <button type="submit">Delete</button>
            </form></td>   
        </tr>
    </tbody>
</table>

</body>
</html>
