<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Daftar Wahana</title>
  </head>
  <body>
    <h1>Daftar Wahana</h1>

    <a href="/wahana/add">Tambah Wahana Baru</a>

    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Harga</th>
          <th>Gambar</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="whn : ${wahana}">
          <td th:text="${whn.id}"></td>
          <td th:text="${whn.name}"></td>
          <td th:text="${whn.price}"></td>
          <td>
            <img th:src="${whn.imageUrl}" alt="Wahana Image" width="100" />
          </td>
          <td>
            <a th:href="@{/wahana/edit/{id}(id=${whn.id})}">Edit</a>
            <form
              th:action="@{/wahana/delete/{id}(id=${whn.id})}"
              method="post"
              onsubmit="return confirm('Delete this wahana?');"
            >
              <button type="submit">Hapus</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
